[Desktop Entry]
Name=Sistema Integrado de Gestión de Aulas ULL (Invitado)

X-KDE-PluginInfo-Name=sigaull-guest
X-KDE-PluginInfo-Author=Enrique Hernández Bello
X-KDE-PluginInfo-Email=quique@osl.ull.es
X-KDE-PluginInfo-License=LGPLv3
X-Ubuntu-Gettext-Domain=desktop_kdebase-workspace
