# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=ethais-bardinux.xml
Name=Ethais-for-Bardinux
Author=Enrique Hernández Bello
Copyright=GPL 2010 Enrique Hernández Bello | quique@osl.ull.es
Screenshot=screenshot.png
