[Desktop Entry]
Name=Intérprete de Lisp (Clisp)
Comment=clisp
TryExec=clisp
Exec=clisp
Terminal=true
Type=Application
Categories=Education;Development;
Icon=/usr/share/pixmaps/bardinux/development.png

