[Desktop Entry]
Name=Editor de diagramas (Dia)
Comment=Editor de diagramas de diversos tipos
TryExec=dia
Exec=dia
Terminal=false
Icon=/usr/share/pixmaps/dia.xpm
Type=Application
Categories=Education;CAD;
