[Desktop Entry]
Encoding=UTF-8
Name=Dr.Geo
Name[cs]=Dr.Geo
Name[de]=Dr. Geo
Name[es]=Herramienta matemática (Dr. Geo)
Name[fr]=Dr Geo
Name[it]=Dr. Geo
Name[pl]=Dr Geo
Name[pt]=Dr.Geo
Name[sr]=др Гео
Name[sr@Latn]=dr Geo
Name[sv]=Dr.Geo
Name[zh_CN]=Dr.Geo
Name[zh_TW]=Dr.Geo
Comment=Dr.Geo Math Tool
Comment[cs]=Nástroj pro matematiku Dr.Geo
Comment[de]=Interaktives Geometrieprogramm
Comment[es]=Herramienta matemática (Dr. Geo)
Comment[fr]=Outil mathématique Dr. Geo
Comment[it]=Strumenti matematici di Dr. Geo
Comment[pl]=Narzędzie matematyczne Dr Geo
Comment[pt]=Ferramenta Matemática Dr.Geo
Comment[sr]=Математички алат др Гео
Comment[sr@Latn]=Matematički alat dr Geo
Comment[sv]=Matteverktyget Dr.Geo
Comment[zh_CN]=Dr.Geo 数学软件
Comment[zh_TW]=Dr.Geo 幾何軟體
TryExec=drgeo
Exec=drgeo
Icon=/usr/share/pixmaps/bardinux/physics.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Education;Physics;
