[Desktop Entry]
Name=Programación Scheme (DrScheme)
Comment=Entorno de programación de Scheme
TryExec=/usr/bin/drscheme
Exec=/usr/bin/drscheme
Terminal=false
Type=Application
Categories=Education;Development;
Icon=/usr/share/pixmaps/bardinux/development.png
