[Desktop Entry]
Name=Plataforma de desarrollo (Eclipse)
Comment=Desarrolla aplicaciones y mucho más
TryExec=eclipse
Exec=eclipse
Icon=eclipse48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Education;Development;
StartupNotify=true
