[Desktop Entry]
Name=Álgebra discreta (GAP)
Comment=Grupos, Algoritmos y programación
TryExec=gap
Exec=gap
Terminal=true
Type=Application
Categories=Education;Math;
Icon=/usr/share/pixmaps/bardinux/math.png
