[Desktop Entry]
Name=Depurador (Gdb)
Comment=
TryExec=/usr/bin/ddd
Exec=/usr/bin/gdbtui
Terminal=true
Type=Application
Categories=Education;Development;
Icon=/usr/share/pixmaps/bardinux/development.png
