[Desktop Entry]
Name=Depurador (Gdb)
Comment=
TryExec=ddd
Exec=gdbtui
Terminal=true
Type=Application
Categories=Education;Development;
Icon=/usr/share/pixmaps/bardinux/development.png
