[Desktop Entry]
Name=Compilador de ADA (Gnat)
Comment=
TryExec=/usr/bin/gnat-gps
Exec=/usr/bin/gnat-gps
Terminal=true
Type=Application
Categories=Education;Development;
Icon=/usr/share/pixmaps/bardinux/development.png

