[Desktop Entry]
Name=Análisis de circuitos (GnuCap)
Comment=Analizador de circuítos GNU
TryExec=gnucap
Exec=gnucap
Terminal=true
Type=Application
Categories=Education;Electronics;
Icon=/usr/share/pixmaps/bardinux/electronics.png
