[Desktop Entry]
Name=Gráficas (GnuPlot) 
Comment=GnuPlot(Ploteo interactivo de gráficas)
TryExec=/usr/bin/gnuplot
Exec=/usr/bin/gnuplot
Terminal=true
Icon=/usr/share/pixmaps/bardinux/math.png
Type=Application
Categories=Education;Math;
