[Desktop Entry]
Name=Gráficas (GnuPlot) 
Comment=GnuPlot(Ploteo interactivo de gráficas)
TryExec=gnuplot
Exec=gnuplot
Terminal=true
Icon=/usr/share/pixmaps/bardinux/math.png
Type=Application
Categories=Education;Math;
