[Desktop Entry]
Name=Vim gráfico (gvim)
Comment=GVIM, gráfico 
Exec=gvim
TryExec=gvim
Terminal=false
Icon=vim-32
Type=Application
Categories=Education;Development;
