[Desktop Entry]
Name=Vim gráfico (gvim)
Comment=GVIM, gráfico 
Exec=/usr/bin/gvim
TryExec=/usr/bin/gvim
Terminal=false
Icon=vim-32
Type=Application
Categories=Education;Development;
