[Desktop Entry]
Name=Editor de gráficos vectoriales (Inkscape)
Comment=Create and edit Scalable Vector Graphics images
Comment[ca]=Crea i edita imatges de gràfics de vectors escalables
Comment[cs]=Vytvářejte a upravujte vektorovou grafiku (SVG)
Comment[de]=Skalierbare Vektorgrafiken (SVG) erzeugen und bearbeiten
Comment[el]=Δημιουργήστε και τροποποιήστε διανυσματικές εικόνες τύπου Scalable Vector Graphics
Comment[es]=Cree y edite Gráficos Vectoriales Escalables (SVG)
Comment[eu]=Sortu eta editatu Bektore-Grafiko Eskalagarri (SVG) irudiak
Comment[fr]=Créer et éditer des images Scalable Vector Graphics
Comment[hu]=Scalable Vector Graphics (méretezhető vektorgrafika, SVG) képek létrehozása és szerkesztése
Comment[it]=Crea e modifica immagini Scalable Vector Graphics
Comment[ko]=SVG(크기 조정 가능한 벡터 그래픽) 이미지  생성
Comment[lt]=Kurti ir redaguoti SVG iliustraciją
Comment[nb]=Skap og redigerer Skalerbar Vektor Grafikk bilder
Comment[nl]='Scalable Vector Graphics (SVG) '-tekeningen maken en bewerken
Comment[nn]=Lag og rediger skalerbare vektorbilete (SVG)
Comment[pa]=ਸਕੇਲੇਬਲ ਵੈਕਟਰ ਗਰਾਫਿਕਸ ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਸੋਧੋ
Comment[pl]=Utwórz i edytuj rysunki wektorowe SVG
Comment[pt_BR]=Crie e edite imagens escaláveis SVG (Scalable Vector Graphics)
Comment[ru]=Создавать и изменять изображения в формате SVG
Comment[sl]=Ustvarjajte in urejajte vektorske slike SVG
Comment[sr]=Прављење и уређивање SVG векторских слика
Comment[sr@Latn]=Pravljenje i uređivanje SVG vektorskih slika
Comment[sv]=Skapa och redigera SVG-bilder (Scalable Vector Graphics)
Comment[tr]=Ölçeklenebilir Vektör İmgeleri oluşturur ve düzenler
Comment[uk]=Створення та редагування векторних графічних зображень
Comment[vi]=Tạo và hiệu chỉnh ảnh đồ hóa véc-tơ có khả năng co giãn (SVG)
Comment[zh_CN]=创建并编辑可缩放矢量图形图像
Comment[zh_TW]=建立並編輯「可伸縮向量繪圖(SVG)」圖形

Encoding=UTF-8
Version=1.0

Type=Application
Categories=Education;Publishing;

MimeType=image/svg+xml

FilePattern=inkscape
Exec=inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true

Icon=inkscape.png
X-Ubuntu-Gettext-Domain=inkscape
