[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Diseño de circuitos impresos (PCB)
GenericName=PCB Design
Comment=Printed Circuit Board design program
Type=Application
TryExec=pcb
Exec=pcb
Icon=pcb
Categories=Education;Electronics;
