[Desktop Entry]
Name=Intérprete pyhton (Python)
Comment=Python Interpreter (v2.4)
TryExec=/usr/bin/ipython
Exec=/usr/bin/ipython
Icon=/usr/share/pixmaps/python2.4.xpm
Terminal=true
MultipleArgs=false
Type=Application
Categories=Education;Development;
StartupNotify=true
NoDisplay=true
