[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Sistema CAD (SagCAD)
GenericName=CAD/CAM system
GenericName[fr]=Système de CAO/DAO
Comment=Draw and create
Comment[fr]=Dessinez et concevez
Categories=Education;CAD;
TryExec=sagcad
Exec=sagcad
Icon=sagCAD.png
StartupNotify=true
Terminal=false
X-Ubuntu-Gettext-Domain=sagcad
