[Desktop Entry]
Name=Trabajo con Eproms (Srecord)
Comment=Conjunto de utilidades para trabajar con Eproms
TryExec=srec_info
Exec=srec_info
Terminal=true
Type=Application
Categories=Education;Electronics;
Icon=/usr/share/pixmaps/bardinux/electronics.png
