[Desktop Entry]
Name=Intérprete de Prolog (SWI)
Comment=Versión SwI de Prolog
TryExec=swipl
Exec=swipl
Terminal=true
Type=Application
Categories=Education;Development;
Icon=/usr/share/pixmaps/bardinux/development.png
