[Desktop Entry]
Name=Emacs gráfico (Xemacs)
Comment=XEmacs, gráfico 
TryExec=/usr/bin/xemacs21
Exec=/usr/bin/xemacs21
Terminal=false
Icon=/usr/share/pixmaps/bardinux/development.png
Type=Application
Categories=Education;Development;

