[Desktop Entry]
Name= Editor de funciones (XMaxima) 
Comment=
Exec=xmaxima
TryExec=xmaxima
Terminal=false
Type=Application
Categories=Education;Math;
Icon=/usr/share/pixmaps/bardinux/math.png
