[Desktop Entry]
Name=Álgebra (Yacas)
Comment=Álgebra con Yacas
TryExec=proteusworksheet
Exec=proteusworksheet
Terminal=true
Type=Application
Categories=Education;Math;
Icon=/usr/share/pixmaps/bardinux/math.png
