[Desktop Entry]
Comment=Bardinux Breeze Desktop Design Language by the OSL-ULL
Comment[bs]=Bardinux Breeze jezik dizajna radne površine od strane OSL-ULL
Comment[ca]=Llenguatge de disseny d'escriptori Brisa Bardinux pel OSL del OSL-ULL
Comment[ca@valencia]=Llenguatge de disseny d'escriptori Brisa Bardinux pel OSL del OSL-ULL
Comment[cs]=Jazyk pro návrh pracovní plochy Bardinux Breeze od OSL-ULL
Comment[da]=Bardinux Breeze sprog til skrivebordsdesign af OSL-ULL
Comment[de]=Bardinux Breeze-Arbeitsflächendesign der OSL-ULL VG
Comment[el]=Γλώσσα σχεδιασμού επιφάνειας εργασίας Bardinux Breeze από το OSL-ULL
Comment[en_GB]=Bardinux Breeze Desktop Design Language by the OSL-ULL
Comment[es]=Lenguaje de diseño del escritorio Bardinux Breeze, por el OSL de OSL-ULL
Comment[et]=Bardinux Breeze töölauakujunduse keel OSL-ULL-lt
Comment[fi]=Työpöydän design-kieli Bardinux Breeze OSL-ULL:ltä
Comment[fr]=Langue de conception de bureau Bardinux Breeze par OSL-ULL
Comment[gl]=Linguaxe de deseño do escritorio para Bardinux Breeze do ULL
Comment[hu]=Bardinux Breeze asztali designnyelv a OSL-ULL-től
Comment[id]=Bahasa Desain Desktop Bardinux Breeze oleh OSL-ULL
Comment[is]=Bardinux Breeze skjáborðshönnunarmálið frá OSL-ULL
Comment[it]=Linguaggio di progettazione del desktop Bardinux Brezza del OSL-ULL
Comment[ko]=OSL-ULL 시각 디자인 그룹의 Bardinux Breeze 데스크톱 디자인 언어
Comment[lt]=Bardinux Breeze darbalaukio dizaino kalba, kurią sukūrė OSL-ULL
Comment[nb]=Bardinux Breeze-språk for skrivebordsutforming  fra OSL-ULL-gruppa for visuell design
Comment[nds]=De Schriefdisch-Utleggspraak Bardinux Breeze vun de OSL-ULL
Comment[nl]=Bardinux Breeze ontwerptaal van het bureaublad door OSL-ULL
Comment[nn]=Bardinux Breeze-designspråk av OSL-ULL
Comment[pl]=Język projektowania pulpitu Bryza Bardinux stworzony przez OSL-ULL
Comment[pt]=Linguagem de Desenho do Ecrã Brisa Bardinux da OSL do ULL
Comment[pt_BR]=Linguagem de desenho da área de trabalho Bardinux Breeze por OSL-ULL
Comment[ru]=Оформление рабочей среды Bardinux Breeze от OSL-ULL
Comment[sk]=Jazyk dizajnu plochy vánok od OSL-ULL
Comment[sl]=Sapica Bardinux, oblikovalni jezik namizja avtorjev OSL-ULL
Comment[sr]=Језик дизајна површи Поветарац Bardinux од КДЕ‑ВДГ‑а
Comment[sr@ijekavian]=Језик дизајна површи Поветарац Bardinux од КДЕ‑ВДГ‑а
Comment[sr@ijekavianlatin]=Jezik dizajna površi Povetarac Bardinux od OSL-ULL‑a
Comment[sr@latin]=Jezik dizajna površi Povetarac Bardinux od OSL-ULL‑a
Comment[sv]=Bardinux Breeze-konstruktionsspråk för skrivbord av OSL-ULL
Comment[tr]=OSL-ULL tarafından hazırlanan Bardinux Breeze Masaüstü Tasarım Dili
Comment[uk]=Мова компонування стільниці Bardinux Breeze, створена OSL-ULL
Comment[x-test]=xxBardinux Breeze Desktop Design Language by the OSL-ULLxx
Comment[zh_CN]=OSL-ULL 视觉设计组设计的 Bardinux Breeze 桌面设计语言
Comment[zh_TW]=OSL-ULL 設計的微風 Bardinux桌面設計語言
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[ca]=Escriptori;Espai de treball;Aparença;Aparença i comportament;Sortida;Bloqueig;Suspensió;Aturada;Hibernació;
Keywords[ca@valencia]=Escriptori;Espai de treball;Aparença;Aparença i comportament;Eixida;Bloqueig;Suspensió;Aturada;Hibernació;
Keywords[da]=Skrivebord;Desktop;Arbejdsområde;Udseende;log ud;Lås;Suspendér;Nedlukning;dvale;
Keywords[de]=Desktop;Arbeitsfläche;Erscheinungsbild;Erscheinungsbild und Verhalten;Abmelden;Sperren;Standby;Ruhezustand;Tiefschlaf;Herunterfahren;
Keywords[el]=Επιφάνεια εργασίας;Χώρος εργασίας;Εμφάνιση;Όψη και Αίσθηση;Αποσύνδεση;Κλείδωμα;Αναστολή;Τερματισμός;Νάρκη;
Keywords[en_GB]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Keywords[es]=Escritorio;Espacio de trabajo;Apariencia;Aspecto visual;Cerrar sesión;Bloquear;Suspender;Apagar;Hibernar;
Keywords[et]=töölaud;töötsoon;välimus;väljalogimine;lukustamine;seiskamine;väljalülitamine;talveuni;uni;
Keywords[fi]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;Työpöytä;Työtila;Ulkoasu;Ulkoasu ja tuntuma;Kirjaudu ulos;Lukitse;Valmiustila;Sammuta;Lepotila;
Keywords[fr]=bureau;espace de travail;apparence;déconnexion;verrouillage;suspension;arrêt;hibernation
Keywords[gl]=Escritorio;Espazo de traballo;Aparencia;Aparencia e Comportamento;Saír;Trancar;Bloquear;Suspender;Apagar;Hibernar
Keywords[hu]=Asztal;Munkaterület;Megjelenés;Kinézet;Kijelentkezés;Zárolás;Felfüggesztés;Leállítás;Hibernálás
Keywords[id]=Desktop;Ruang Kerja;Tampilan;Tampilan dan Rasa;Keluar;Kunci;Suspensi;Matikan;Hibernasi;
Keywords[is]=skjáborð;vinnusvæði;útlit;ásýnd og hegðun;Útskráning;Læsing;setja í bið;slökkva;svæfa;
Keywords[it]=desktop;spazio di lavoro;aspetto;uscita;blocco;sospensione;spegnimento;ibernazione;
Keywords[ja]=デスクトップ;ワークスペース;外観;外観と挙動;ログアウト;ロック;サスペンド;シャットダウン;休止状態;
Keywords[ko]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;데스크톱;작업공간;모양;로그아웃;잠금;대기모드;종료;끄기;최대절전모드;
Keywords[lt]=Darbalaukis;Erdvė;Išvaizda;Išvaizda ir turinys;Atsijungti;užrakinti;sulaikyti;Išjungti;Hibernuoti;
Keywords[nl]=Bureaublad;Werkruimte;Uiterlijk;Uiterlijk en gedrag;Afmelden;Vergrendelen;Onderbreken;Afsluiten;Slapen naar schijf;
Keywords[nn]=skrivebord;arbeidsområde;arbeidsflate;ustjånad;åtferd;utlogging;logga ut;låsa;låsing;pausemodus;kvilemodus;dvalemodus;avslutting;
Keywords[pl]=Pulpit;Przestrzeń robocza;Wygląd;Wygląd i Odczucia;Wylogowanie;Zablokowanie ;Wstrzymanie;Zamknięcie;Hibernowanie;Wrażenia;
Keywords[pt]=Ecrã;Área de Trabalho;Aparência;Aparência e Comportamento;Encerrar;Bloquear;Suspender;Desligar;Hibernar;
Keywords[pt_BR]=Área de trabalho;Espaço de trabalho;Aparência;Aparência e Comportamento;Encerrar sessão;Bloquear;Suspender;Desligar;Hibernar;
Keywords[ru]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;рабочий стол;рабочая среда;внешний вид;визуальное представление;выход;завершение сеанса;блокировка;приостановка работы;завершение работы;выключение;спящий режим;ждущий режим;
Keywords[sk]=Plocha;pracovná plocha;vzhľad;nastavenie;odhlásenie;zamknutie;uspanie;vypnutie;hibernácia;
Keywords[sl]=Namizje;delovni prostor;videz;videz in občutek;odjava;zaklep;pripravljenost;izklop;mirovanje;
Keywords[sr]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање;
Keywords[sr@ijekavian]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;површ;радни простор;изглед;осећај;одјављивање;закључавање;суспендовање;гашење;хибернисање;
Keywords[sr@ijekavianlatin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje;
Keywords[sr@latin]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;površ;radni prostor;izgled;osećaj;odjavljivanje;zaključavanje;suspendovanje;gašenje;hibernisanje;
Keywords[sv]=Skrivbord;Arbetsrymd;Utseende;Utseende och känsla;Utloggning;Lås;Viloläge;Avstängning;Dvala;
Keywords[tr]=Masaüstü;Çalışma Alanı;Görünüm;Görünüm ve Doku;Çık;Kilitle;Askıya Al;Kapat;Uyku;
Keywords[uk]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;стільниця;робочий простір;воркспейс;вигляд;вигляд і поведінка;вихід;вийти;заблокувати;замкнути;призупинити;вимкнути;приспати;
Keywords[x-test]=xxDesktopxx;xxWorkspacexx;xxAppearancexx;xxLook and Feelxx;xxLogoutxx;xxLockxx;xxSuspendxx;xxShutdownxx;xxHibernatexx;
Keywords[zh_CN]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;桌面;工作空间;外观;观感;注销;锁定;待机;关机;休眠;
Keywords[zh_TW]=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Bardinux Breeze
Name[ar]=نسيم Bardinux
Name[ast]=Bardinux Breeze
Name[bs]=Bardinux Breeze
Name[ca]=Brisa Bardinux
Name[ca@valencia]=Brisa Bardinux
Name[cs]=Bardinux Breeze
Name[da]=Bardinux Breeze
Name[de]=Bardinux Breeze
Name[el]=Bardinux Breeze
Name[en_GB]=Bardinux Breeze
Name[es]=Brisa Bardinux
Name[et]=Bardinux Breeze
Name[fi]=Bardinux Breeze
Name[fr]=Brise Bardinux
Name[gl]=Bardinux Breeze
Name[hu]=Bardinux Breeze
Name[id]=Angin Bardinux
Name[is]=Bardinux Breeze
Name[it]=Bardinux Brezza
Name[ja]=Bardinux Breeze
Name[ko]=Bardinux Breeze
Name[lt]=Bardinux Breeze
Name[nb]=Bardinux Breeze
Name[nds]=Bardinux Breeze
Name[nl]=Bardinux Breeze
Name[nn]=Bardinux Breeze
Name[pl]=Bryza Bardinux
Name[pt]=Brisa Bardinux
Name[pt_BR]=Bardinux Breeze
Name[ru]=Bardinux Breeze
Name[sk]=Vánok Bardinux
Name[sl]=Sapica Bardinux
Name[sr]=Поветарац Bardinux
Name[sr@ijekavian]=Поветарац Bardinux
Name[sr@ijekavianlatin]=Povetarac Bardinux
Name[sr@latin]=Povetarac Bardinux
Name[sv]=Bardinux Breeze
Name[tr]=Bardinux Breeze
Name[uk]=Bardinux Breeze
Name[x-test]=xxBardinux Breezexx
Name[zh_CN]=微风 Bardinux
Name[zh_TW]=微風 Bardinux
Type=Service

X-OSL-ULL-ServiceTypes=Plasma/LookAndFeel
X-OSL-ULL-ParentApp=
X-OSL-ULL-PluginInfo-Author=Oficina de Software Libre de la Universidad de La Laguna
X-OSL-ULL-PluginInfo-Category=
X-OSL-ULL-PluginInfo-Email=bardinux@osl.ull.es
X-OSL-ULL-PluginInfo-License=GPLv2+
X-OSL-ULL-PluginInfo-Name=es.ull.bardinux.desktop
X-OSL-ULL-PluginInfo-Version=2.0
X-OSL-ULL-PluginInfo-Website=http://bardinux.ull.es
X-Plasma-MainScript=defaults
